.wrap {
  font-family: arial;
}

.wrap__nav {
  display: flex;
  justify-content: center;
  background: #8A9597;
}

.wrap__nav a {
  color: #0000FF;
  padding: 15px 10px;
  text-decoration: none;
  text-align: center;
  font-size: 30px;
}

.wrap__nav a:hover {
  background: #00A86B; 
}

.section {
  font-size: 10px;
  }
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

.menuBurger {
  display: none;
}

@media (min-width: 1281px) {
  .section {
    font-size: 45px;
  }
}

@media (min-width: 320px) {
  .section {
    font-size: 20px;
  }
  .menu {
    display: none;
    background: #f1f2f4;
    position: absolute;
  }

  .menu a {
    float: none;
  }

  .menuBurger {
    display: inline-block;
  }
}

@media (min-width: 481px) {
  .section {
    font-size: 25px;
  }
}

@media (min-width: 641px) {
  .section {
    font-size: 30px;
  }

  .menu {
    position: relative;
  }

  .menu a {
    float: center;
    list-style: none;
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: #0000FF;
  }

  .menuBurger {
    padding: 10px 15px;
    display: none;
    cursor: pointer;
  }
  .wrap__nav {
    justify-content: space-around;
  }
  .wrap__nav a {
    flex-grow:1;
  }
  .clearfix {
    display: block;
  }
}

@media (min-width: 961px) {
  .section {
    font-size: 35px;
  }
}

@media (min-width: 1025px) {
  .section {
    font-size: 40px;
  }
}